$orange: #ea5148;

$menu-grey: rgb(69, 69, 68);
$footer-background: rgb(189, 185, 182);
$footer-grey: rgb(69, 69, 68);
$footer-text: rgb(119, 100, 78);

$off-white: #FFFFF0;
$egg-shell: rgb(240,235,218);


