.contact {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding-bottom: 100px;
    &__logo {
        display: block;
        margin: auto;
        left: 0;
        right: 0;
        padding: 50px;
    }
    &__title {
        font-family: 'Architype-Tschichold';
        font-size: 60px;
        text-align: center;
        @media screen and (max-width: $tablet) {
            font-size: 3em;
        } 
        &__join {
            font-family: 'Architype-Tschichold';
            font-size: 60px;
            text-align: center;
            margin-top: 70px;
            @media screen and (max-width: $tablet) {
                font-size: 3em;
            } 
        }
    }
    &__info {
        text-align: center;
        font-family: 'FutFolli-Book';
        font-size: 20px;
        line-height: 1.3em;
        @media screen and (max-width: $mobile) {
            font-size: 0.9em;
        } 
        a {
            text-decoration: none;
            border-bottom: $underline;
        }
    }
    &__form {
        width: 100%;
        margin-top: 30px;
        &__field {
            display: flex;
            align-items: flex-end;
        }
        &__label {
            font-family: 'FutFolli-Book';
            width: auto;
            font-size: 20px;
            margin-right: 3px;
        }    
        input {
            width: 100%;
            height: 30px;
            background-color: transparent;
            border: none;
            border-bottom: 1px dotted;
            flex-grow: 1; 
        }
    }
    &__designedBy {
        font-family: 'FutFolli-Book';
        position: fixed;
        font-size: 14px;
        bottom: 80px;
        right: -65px;
        transform: rotate(-90deg);
        @media screen and (max-width: $mobile) {
            font-size: 10px;
        }
    }

}