@font-face {
    font-family: 'Architype-Tschichold';
    src: 
        url('./fonts/Architype-Tschichold/Architype-Tschichold.eot?#iefix') 
        format('embedded-opentype'), 
        url('./fonts/Architype-Tschichold/Architype-Tschichold.otf') 
        format('opentype'), 
        url('./fonts/Architype-Tschichold/Architype-Tschichold.woff') 
        format('woff'), 
        url('./fonts/Architype-Tschichold/Architype-Tschichold.ttf') 
        format('truetype'), 
        url('./fonts/Architype-Tschichold/Architype-Tschichold.svg#Architype-Tschichold') 
        format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FutFolli-Book';
    src: 
        url('./fonts/FutFolli-Book/FutFolli-Book.eot?#iefix') 
        format('embedded-opentype'),  
        url('./fonts/FutFolli-Book//FutFolli-Book.otf')  
        format('opentype'),
        url('./fonts/FutFolli-Book//FutFolli-Book.woff') 
        format('woff'), url('/css/webfont/FutFolli-Book.ttf')  
        format('truetype'), 
        url('./fonts/FutFolli-Book//FutFolli-Book.svg#FutFolli-Book') 
        format('svg');
    font-weight: normal;
    font-style: normal;
  }


