.menu {
    position: fixed;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    z-index: 10;
    @media screen and (max-width: $mobile) {
        flex-direction: row;
        height: auto;
        width: 100%;
    } 
    &__icon {
        width: 50px;
        @media screen and (max-width: $mobile) {
            width: 40px;
        } 
    }
    &__logo {
        width: 20px;
        @media screen and (max-width: $mobile) {
            display: none;
        } 
    }
    &__mobile-logo {
        display: none;
        @media screen and (max-width: $mobile) {
            display: block;
            width: auto;
            height: 15px;
        } 
    }
}

.nav-menu {
    display: flex;
    flex-direction: column;
    background-color: $menu-grey;
    position: fixed;
    width: 50%;
    height: 100vh;
    top: 0;
    overflow: hidden;
    z-index: 11;
    transform: translateX(-200vw);
    transition: transform 0.4s ease-in-out;
    @media screen and (max-width: $tablet) {
        width: 100%;
    }
    &__close {
        width: 50px;
        height: 50px;
        border: 1px solid $off-white;
        margin: 20px;
    }
    &__list {
        font-family: 'Architype-Tschichold';
        margin: auto;
        text-align: center;
        font-size: 50px;
        color: $off-white;
        @media screen and (max-width: $tablet) {
            font-size: 4em;
        }
        @media screen and (max-width: $mobile) {
            font-size: 2.7em;
        }
        li {
            padding: 20px;
            a {
                text-decoration: none;
                color: $off-white;
            }
        }
    }
}

.show {
    transform: translateX(0);
}

.close {
    position: absolute;
    left: 15px;
    color: $off-white;
    top: 30px;
    width: 42px;
    height: 42px;
    opacity: 0.3;
    @media screen and (max-width: $tablet) {
        left: 15px;
        top: 20px;
        width: 62px;
        height: 62px;
    }
    @media screen and (max-width: $mobile) {
        left: 18px;
        top: 20px;
        width: 62px;
        height: 62px;
    }
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 30px;
    content: ' ';
    height: 43px;
    width: 2px;
    background-color: $off-white;
    @media screen and (max-width: $tablet) {
        height: 90px;
        width: 7px;
    }
    @media screen and (max-width: $tablet) {
        height: 50px;
        width: 3px;
    }
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
